body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    margin: 30px;
}

::selection {
    background-color: yellow;
}

table#results {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

th {
    height: 40px;
    background-color: white;
    font-weight: normal;
}

th#name {
    width: 610px;
    text-align: center;
}

th#group {
    width: 250px;
}

th#variant {
    width: 610px;
}

td#graph {
    text-align: center;
    padding: 20px;
}

td#table {
    vertical-align: top;
}

td.result {
    text-align: center;
    background-color: white;
    opacity: 0.9;
}

td#input {
    text-align: center;
}

div.input {
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: white;
}

input#y {
    width: 349px;
}

select#r {
    width: 355px;
}

td#error {
    text-align: center;
}

div#error-message {
    display: none;
    width: 400px;
    padding: 4px 20px;
    margin-right: 14%;
    margin-left: 14%;
    background-color: white;
    color: red;
}

td#submit {
    text-align: center;
    padding-top: 20px;
}

input#send {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 5%;
}

input#send:hover {
    background-color: #D3D3D3;
}

div.input {
    margin-left: 14%;
    margin-right: 14%;
}

p#graph {
    text-align: left;
}
